:root{
    --picton-blue-50: #ecfdff;
    --picton-blue-100: #d0f7fd;
    --picton-blue-200: #a7edfa;
    --picton-blue-300: #6bdff5;
    --picton-blue-400: #46cfec;
    --picton-blue-500: #0baacf;
    --picton-blue-600: #0c87ae;
    --picton-blue-700: #116d8d;
    --picton-blue-800: #175973;
    --picton-blue-900: #184a61;
}
*{
    margin: 0%;
    padding: 0%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: var(--picton-blue-100);
    color: var(--picton-blue-900);
}

header{
    background-color: var(--picton-blue-400);
}
.container-header{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    gap: 2rem;
    padding: 25px 0px;
    justify-content: space-between;
    align-items: center;
}
.container-header img{
    width: 40px;
    height: auto;
}
.container{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    gap: 2rem;
    padding: 25px 0px;
    justify-content: space-between;
    align-items: center;
}

.sub{
    padding: 50px 0px;
}

.informacion h1{
    font-size: 3.3rem;
}
.informacion h2{
    font-size: 2rem;
    padding: 7px 0;
}
.informacion p{
    line-height: 1.5;
}

.redes{
    display: flex;
    padding: 11px 0;
    gap: 0.6rem;
}
.redes a{
    padding: 10px;
    gap: 0.3rem;
    display: flex;
    cursor: pointer;
    color: var(--picton-blue-900);
    align-items: center;
    justify-content: center;
    border-radius: 5%;
    border: 2px dashed var(--picton-blue-900);;
    transition: all 0.3s ease;
    font-size: 24px;
    text-decoration: none;
}
.cv{
    display: flex;
    padding: 3px 0;
    gap: 0.6rem;
}
.cv a{
    padding: 10px;
    gap: 0.7rem;
    display: flex;
    cursor: pointer;
    background: var(--picton-blue-900);;
    color: var(--picton-blue-100);
    align-items: center;
    justify-content: center;
    border-radius: 5%;
    border: 2px dashed var(--picton-blue-900);;
    transition: all 0.3s ease;
    font-size: 19px;
    text-decoration: none;
}
.redes a:hover{
    background: var(--picton-blue-900);;
    color: var(--picton-blue-100);
}

.image figure img{
    width: 444px;
    height: 444px;
}

.sub-container{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    padding: 20px 0px;
}
.sub-title{
    padding: 10px 0px; 
}
.sub-container .about-me{
    background-color: var(--picton-blue-200);
    border: 3px dashed var(--picton-blue-900);
    padding: 25px;
}
.sub-container .about-me p{
    line-height: 1.5;
}

.sub-container .skills{
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}
.sub-container .skills article{
    text-align: center;
    justify-content: center;
    padding: 15px;
    width: 90px;
    border: 3px dashed var(--picton-blue-900);
    background-color: var(--picton-blue-200);
}
.sub-container .skills article img{
    width: 66px;
    height: 66px;
    margin-bottom: 6px;
}

.sub-container .projects{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
.sub-container .projects article{
    padding: 10px;
    border: 3px dashed var(--picton-blue-900);
    border-radius: 1%;
    background-color: var(--picton-blue-200);
    max-width: 550px;
    min-width: 250px;
    height: auto;
}
.sub-container .projects article figure{
   padding: 7px 0;
}
.sub-container .projects article figure img{
    width: 550px;
    height: 250px;
    border-radius: 1%;
    object-fit:cover;
}
.sub-container .projects article a{
    text-decoration: none;
    font-size: 20px;
    color: var(--picton-blue-900);
    font-weight: 600;
}
.sub-container .projects article a i{
    transform: rotate(-40deg);
    margin-left: 3px;
}
.sub-container .projects article p{
    line-height: 1.5;
}

.sub-container .projects article .chips-container{
    display: flex;
    flex-wrap: wrap;
    gap: 0.3rem;
    padding: 10px 0;
}
.sub-container .projects article .chips-container small{
    border-radius: 6px;
    padding: 4px 8px;
    color: var(--picton-blue-200);
    background-color: var(--picton-blue-900);
}

footer{
    background-color: var(--picton-blue-400);
}
footer .container-footer{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding: 30px 0px;
}

@media screen and (max-width: 1111px){
    .image figure img{
        width: 100%;
        height: auto;
    }
    .sub-container .projects{
        gap: 1rem;
        justify-content: center;
        margin: 0 auto;
    }
} 
@media screen and (max-width: 900px){
    .container{
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 1rem;
        padding: 15px 0px;
    }
    .image figure img{
        order: 1;
    }
    .informacion{
        order: 2;
    }
    .redes,
    .cv{
        justify-content: center;
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 750px){
    .sub-container .projects article figure img{
        width: 100%;
        height: 100%;
    }
}
@media screen and (max-width: 500px){
    .sub-title{
        text-align: center;
    }
    .sub-container .skills{
       justify-content: center;
        gap: 1em;
    }
}