:root{
    --space-away: min(4vw, 2rem);
    --space-near: min(2vw, 1rem);
    --space-prueba: min(1.5vw, 0.5rem);
    --contrast-fg: #fff;
    --contrast-bg: #0f0c29;
    --accent-fg: #28fbbc;
    --accent-bg: #243842;
    --focus-ol: var(--contrast-fg);
    --focus-width: 2px;
    --max-width: clamp(860px, 80vw, 1200px);
    --timeline-width: 4px;
    --lift-shadow: 6px 6px var(--contrast-bg), -6px 6px var(--contrast-bg), 6px -6px var(--contrast-bg), -6px -6px var(--contrast-bg);
}

*{
    margin: 0%;
    padding: 0%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: none;
}

html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    background-color: var(--contrast-bg);
    color: var(--contrast-fg);
    font-family: Cy, sans-serif;
    line-height: 1.25;
    letter-spacing: 1px;
    background-size: var(--space-away) var(--space-away);
    background-image: linear-gradient(var(--accent-bg) 1px, transparent 1px), linear-gradient(90deg, var(--accent-bg) 1px, transparent 1px);
}

.toast-notification {
    position: fixed;
    top: 20px;
    right: 15px;
    padding: 15px;
    background-color: #333;
    color: #fff;
    border-radius: 3px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.9s ease-in-out;
    z-index: 2;
    display: flex;
    align-items: center;
}
.toast-notification .day-icon {
    width: 40px;
    height: 40px;
    margin-right: 6px;
}

.toast-notification.show {
    opacity: 1;
}  

header{
    position: sticky;
    inset-block-start: var(--space-prueba);
    border: 1px solid var(--accent-fg);
    padding: 2px;
    box-shadow: var(--lift-shadow);
    margin: var(--space-away);
    background-color: var(--contrast-bg);
    z-index: 1;
}
.container-header{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    padding: 5px 0px;
    justify-content: space-between;
    align-items: center;
}
.container-header img{
    width: 40px;
    height: auto;
}


.inner-cursor{
    position: fixed;
    left: 10px;
    width: 10px;
    height: 10px;
    transform: translate(-50%,-50%);
    background-color: var(--accent-fg);
    mix-blend-mode: difference;
    border-radius: 50%;
    pointer-events: none;
    transition: width 0.5s, height 0.5s;
    z-index: 1;
}
.inner-cursor.grow{
    width: 40px;
    height: 40px;
    transition: width 1s, height 1s;
    z-index: 1;
}
.outer-cursor.grow{
    width: 42px;
    height: 42px;
    transition: width 0.5s, height 0.5s;
    z-index: 1;
}
.outer-cursor{
    position: fixed;
    left: 10px;
    width: 25px;
    height: 25px;
    transform: translate(-50%,-50%);
    border: 1px solid var(--accent-fg);
    mix-blend-mode: difference;
    border-radius: 50%;
    pointer-events: none;
    transition: 0.1s;
    z-index: 1;
}

.inner-cursor.grownone{
    display: none;
}
.outer-cursor.grownone{
    display: none;
}


.container{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    gap: 2rem;
    
    justify-content: space-between;
    align-items: center;
    
    background-color: var(--contrast-bg);
    border: 1px dashed var(--contrast-fg);
    border-start-end-radius: 1rem;
    border-end-start-radius: 1rem;
    position: relative;
    padding: 50px;
}

.container::before{
    inset-inline-end: 100%;
    inset-block-end: 100%;
    border-block-end: 1px dashed var(--contrast-fg);
    border-inline-end: 1px dashed var(--contrast-fg);
}
.container::after{
    inset-inline-start: 100%;
    inset-block-start: 100%;
    border-block-start: 1px dashed var(--contrast-fg);
    border-inline-start: 1px dashed var(--contrast-fg);
}
.container::before, .container::after {
    content: '';
    position: absolute;
    display: block;
    width: var(--space-near);
    aspect-ratio: 1/1;
}

.informacion h1{
    font-size: min(8vw, 3.5em);
    color: var(--accent-fg);
    line-height: 1;
    margin: 0;
}
.informacion h2{
    font-size: 2rem;
    padding: 7px 0;
    color: var(--accent-fg);
}
.informacion p{
    margin: var(--space-near) 0 var(--space-away);
    line-height: 1.5;
}
.informacion .container-text{
    display: flex;
    align-items: center;
    gap: 8px;
    overflow: hidden;
}
.informacion .container-text .text{
    position: relative;
   
}

.informacion .container-text .second-text::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--contrast-bg);
    border-left: 2px solid var(--accent-fg);
    animation: animatext 7s steps(12) infinite;
}
@keyframes animatext{
    40%, 60%{
        left: calc(100% + 4px);
    }
    100%{
        left: 0%;
    }
}

.redes{
    display: flex;
    padding: 11px 0;
    gap: 20px;
}
.redes a{
    padding: 12px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.6s ease;
    font-size: 24px;
    text-decoration: none;

    border-start-end-radius: 1rem;
    border-end-start-radius: 1rem;
    background-color: var(--contrast-bg);
    color: white;
    border: 1px dashed var(--accent-fg);
}
.cv{
    display: flex;
    padding: 3px 0;
    gap: 0.6rem;
}
.cv a{
    padding: 10px;
    gap: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    font-size: 19px;
    text-decoration: none;

    border-start-end-radius: 1rem;
    border-end-start-radius: 1rem;
    background-color: var(--accent-fg);
    color: var(--contrast-bg);
}
.redes a:hover{
    background-color: var(--accent-fg);
    color: var(--contrast-bg);
}

.image figure{
    color: var(--accent-fg);
    padding: 10px;
    background: repeating-linear-gradient( -45deg, transparent, transparent 11px, currentcolor 11px, currentcolor 12px );
} 

.image figure img{
    width: 444px;
    height: 444px;
}

.sub-container{
    max-width: 1300px;
    width: 90%;
    margin: 0 auto;
    padding: 45px 0px 0px;
}
.sub-title{
    padding: 15px 0px; 
}
.sub-container .about-me{
    background-color: var(--contrast-bg);
    border: 1px dashed var(--contrast-fg);
    border-start-start-radius: 1rem;
    border-end-end-radius: 1rem;
    position: relative;
    padding: 50px;
}
.sub-container .about-me::before{
    inset-inline-end: 100%;
    inset-block-start: 100%;
    transform: rotate(-90deg);
    border-block-end: 1px dashed var(--contrast-fg);
    border-inline-end: 1px dashed var(--contrast-fg);
}
.sub-container .about-me::after{
    inset-inline-start: 100%;
    inset-block-end: 100%;
    transform: rotate(-90deg);
    border-block-start: 1px dashed var(--contrast-fg);
    border-inline-start: 1px dashed var(--contrast-fg);
}
.sub-container .about-me::before, .sub-container .about-me::after {
    content: '';
    position: absolute;
    display: block;
    width: var(--space-near);
    aspect-ratio: 1/1;
}
.sub-container .about-me h1{
    font-size: min(5vw, 2.7em);
    color: var(--accent-fg);
    line-height: 1;
}
.sub-container .about-me p{
    line-height: 1.5;
}

.sub-container .sub-skills{
    background-color: var(--contrast-bg);
    border: 1px dashed var(--contrast-fg);
    border-start-end-radius: 1rem;
    border-end-start-radius: 1rem;
    position: relative;
    padding: 50px;
}
.sub-container .sub-skills::before{
    inset-inline-end: 100%;
    inset-block-end: 100%;
    border-block-end: 1px dashed var(--contrast-fg);
    border-inline-end: 1px dashed var(--contrast-fg);
}
.sub-container .sub-skills::after{
    inset-inline-start: 100%;
    inset-block-start: 100%;
    border-block-start: 1px dashed var(--contrast-fg);
    border-inline-start: 1px dashed var(--contrast-fg);
}
.sub-container .sub-skills::before, .sub-container .sub-skills::after {
    content: '';
    position: absolute;
    display: block;
    width: var(--space-near);
    aspect-ratio: 1/1;
}
.sub-container .sub-skills h1{
    font-size: min(5vw, 2.7em);
    color: var(--accent-fg);
    line-height: 1;
}
.sub-container .sub-skills .skills{
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}
.sub-container .sub-skills .skills article{
    text-align: center;
    justify-content: center;
    padding: 15px;
    width: 90px;
    border: 1px dashed var(--contrast-fg);
    border-start-end-radius: 1rem;
    border-end-start-radius: 1rem;
    transition: all 0.6s ease;
}
.sub-container .sub-skills .skills article:hover{
    border-start-end-radius: 0rem;
    border-end-start-radius: 0rem;
    border-start-start-radius: 1rem;
    border-end-end-radius: 1rem;
}
.sub-container .sub-skills .skills article img{
    width: 66px;
    height: 66px;
    margin-bottom: 6px;
}

/*proyectos*/

.sub-container .proyectos{
    background-color: var(--contrast-bg);
    border: 1px dashed var(--contrast-fg);
    border-start-start-radius: 1rem;
    border-end-end-radius: 1rem;
    position: relative;
    display: flex;
    align-items: center;
    padding: 70px 0;
}
.sub-container .proyectos::before{
    inset-inline-end: 100%;
    inset-block-start: 100%;
    transform: rotate(-90deg);
    border-block-end: 1px dashed var(--contrast-fg);
    border-inline-end: 1px dashed var(--contrast-fg);
}
.sub-container .proyectos::after{
    inset-inline-start: 100%;
    inset-block-end: 100%;
    transform: rotate(-90deg);
    border-block-start: 1px dashed var(--contrast-fg);
    border-inline-start: 1px dashed var(--contrast-fg);
}
.sub-container .proyectos::before, .sub-container .proyectos::after {
    content: '';
    position: absolute;
    display: block;
    width: var(--space-near);
    aspect-ratio: 1/1;
}


.sub-container .proyectos .proyectos-container{
    display: flex;
    flex-direction: row;

    align-items: center;
    gap: 7px;

    opacity: 0;
    display: none;
    pointer-events: none;
    transition: display 1.5s;
}
.sub-container .proyectos .proyectos-container--show{
    opacity: 1;
    pointer-events: unset;
    display: flex;
}

.sub-container .proyectos .proyectos-texts{
    width: 50%;
}
.sub-container .proyectos .proyectos-texts h3{
    font-size: 2.7rem;
    line-height: 1;
    color: var(--accent-fg);
    word-break: break-all;
}
.sub-container .proyectos .proyectos-texts p{
    line-height: 1.5;
    padding: 10px 0;
}
.sub-container .proyectos .proyectos-texts a{

    padding: 10px;
    gap: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    font-size: 19px;
    text-decoration: none;

    border-start-end-radius: 1rem;
    border-end-start-radius: 1rem;
    background-color: var(--accent-fg);
    color: var(--contrast-bg);
    width: 90%;
 
}
.sub-container .proyectos .proyectos-texts .chips-container{
    display: flex;
    flex-wrap: wrap;
    gap: 0.3rem;
    padding-bottom: 10px;
}
.sub-container .proyectos .proyectos-texts .chips-container small{
    border-radius: 6px;
    padding: 4px 8px;
    color: var(--contrast-bg);
    background-color: var(--accent-fg);
}
.sub-container .proyectos .proyectos-images{
    width: 50%;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}
.sub-container .proyectos .proyectos-images img{
    width: 100%;
    height: 100%;
    border-start-start-radius: 1rem;
    border-end-end-radius: 1rem;
    /* border-start-end-radius: 1rem;
    border-end-start-radius: 1rem; */
}

.sub-container .proyectos .slider__arrow{
    width: 33px;
    height: auto;
}
.sub-container .proyectos .slider__arrow:first-child{
    margin-right: 10px;
}
.sub-container .proyectos .slider__arrow:last-child{
    margin-left: 10px;
}


/*fin*/

footer{
    border-block-start: 1px solid var(--accent-fg);
    background-color: var(--contrast-bg);
    margin-top: 40px;
}
footer .container-footer{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 30px 0px;
}
footer .container-footer p{
    padding: 5px 0;
}
footer .container-footer .email{
    display: flex;
    flex-direction: column;
}
footer .container-footer .copy{
    text-align: start;
}
footer .container-footer .email a{
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 5px;
    text-decoration: none;
    margin-top: 6px;
    color: #fff;
    padding: 12px 14px;
    border-start-end-radius: 1rem;
    border-end-start-radius: 1rem;
    border: 1.5px dashed var(--accent-fg);
}
footer .container-footer .email a::before{
    inset-inline-end: 100%;
    inset-block-end: 100%;
    border-block-end: 1px dashed var(--accent-fg);
    border-inline-end: 1px dashed var(--accent-fg);
}
footer .container-footer .email a::after{
    inset-inline-start: 100%;
    inset-block-start: 100%;
    border-block-start: 1px dashed var(--accent-fg);
    border-inline-start: 1px dashed var(--accent-fg);
}
footer .container-footer .email a::before, footer .container-footer .email a::after {
    content: '';
    position: absolute;
    display: block;
    width: 7px;
    aspect-ratio: 1/1;
}

@media screen and (max-width: 1300px){
    .image figure img{
        width: 100%;
        height: auto;
    }
    .sub-container .projects{
        gap: 1rem;
        justify-content: center;
        margin: 0 auto;
    }
} 
@media screen and (max-width: 1000px){
    .container{
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 1rem;
        padding: 15px 0px;
    }
    .informacion .container-text{
        
        justify-content: center;
    }
    .image figure img{
        order: 1;
    }
    .informacion{
        order: 2;
    }
    .redes,
    .cv{
        justify-content: center;
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 850px){
    .sub-container .proyectos{
        padding: 15px 0;
    }
    .sub-container .proyectos .proyectos-container{
        flex-direction: column-reverse;
    }
    .sub-container .proyectos .proyectos-texts{
        width: 100%;
    }
    .sub-container .proyectos .proyectos-images{
        width: 100%;
    }
    .sub-container .proyectos .proyectos-texts h3{
        font-size: 2rem;
    }
    .sub-container .proyectos .proyectos-texts p{
        line-height: 1.5;
        padding: 5px 0;
    }
    .sub-container .proyectos .proyectos-texts a{
        padding: 7px;
        gap: 0.3rem;
        width: 100%;
    }
}
@media screen and (max-width: 750px){
    .sub-container .projects article figure img{
        width: 100%;
        height: 100%;
    }
    footer .container-footer{
        justify-content: center;
    }
    footer .container-footer .copy{
        text-align: center;
    }
}
@media screen and (max-width: 500px){
    .sub-title{
        text-align: center;
    }
    .sub-container .skills{
       justify-content: center;
        gap: 0.4em;
    }
    .sub-container .sub-skills{
        padding: 23px;
    }
    .container{
        padding: 7px;
    }

    .informacion h1{
        font-size: 2rem;
    }
    .informacion h2{
        font-size: 1.3rem;
        padding: 5px 0;
    }
 
}